<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="base-template :: headCust">
		<title>Login</title>
	</head>
	<body>
		<div th:if="${param.error}">
			Senha ou usuário inválido
		</div>
		<div th:if="${param.logout}">
			Você está desconectado
		</div>
		<form th:action="@{/login}" method="post">
			<div>
				<label>Usuário: <input type="text" name="username"></label>
			</div>
			<div>
				<label>Senha: <input type="text" name="password"></label>
			</div>
			<div>
				<input type="submit" name="Acessar" />
			</div>
		</form>
	</body>
</html>